* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vh;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: black
}